doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='style.css')
    link(href="https://use.fontawesome.com/a410e468b2.css" media="all" rel="stylesheet")
  body
    h1 Header Parser Microservice
    div(class='outter_cont')
      div(class='flex_container')
        div(class='item_1')
          h2 Usage:
          p
            a(href=url+'/api/whoami')= url + '/api/whoami'
        div(class='item_2')
          h2 Example output:
          code { ipaddress: "71.112.35.69", language: "en", software: "X11; Linux x86_64" }
    br
    div(class='cont')  
      div(class='footer')
        a(href='https://github.com/g1st/header_parser_ms' target="_blank")
          i(class="fa fa-github fa-2x" aria-hidden="true")
